
# It is probably best not to set `shiftwidth` in neovim's configuration.
# That might interfere with `indent_size` set here.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 77

[*.{js,py}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 77

# One might need to set `vim.g.markdown_recommended_style = false` in
# neovim's configuration, in order for markdown-style defined here to take
# effect in neovim.
[*.md]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 44

# 3-space indentation.
#
# - This is the indentation that I want to use for most source-code.
#
[*.{c,cpp,h,hpp,lua}]
charset = utf-8
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 77

# 4-space indentation and 88-char maximum length of line.
#
# - This seems good for python, which uses indentation for scoping.
#
[*.py]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 88

# Tab-indentation (no size specified).
[{Makefile,*.mk}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 77

# EOF
