
# It is probably best not to set `shiftwidth` in neovim's configuration.
# That might interfere with `indent_size` set here.

root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
max_line_length = 77

[*.{js,py}]
charset = utf-8

# 2-space indentation.
#
# - This seems good for markdown, especially for python-markdown with
#   mdx_truly_sane_lists, whose default configuration requires exactly two
#   spaces between a nested list and the list that contains the nested list.
#
# - One might need to set `vim.g.markdown_recommended_style = false` in
#   neovim's configuration, in order for markdown-style defined here to take
#   effect in neovim.
#
[*.md]
indent_size = 4
max_line_length = 44

# 3-space indentation.
#
# - This is the indentation that I want to use for most source-code.
#
[*.{c,cpp,h,hpp,lua}]
indent_size = 3

# 4-space indentation.
#
# - This seems good for python, which uses indentation for scoping.
#
[*.py]
indent_size = 4
max_line_length = 88

# Tab-indentation (no size specified).
[{Makefile,*.mk}]
indent_style = tab

# EOF
